<!DOCTYPE HTML>
<html>
<body>

<div>
	<h1>Hello</h1>
	{% for city in cities %}
		{{city.city_name}}
	{% end %}
</div>
<div>
	<a href="/static/angularjs/hello.html" target="_blank">hello world</a> <br />
	<a href="/static/angularjs/directive.html" target="_blank">AngularJS Directives</a> <br />
	<a href="/static/angularjs/expression.html" target="_blank">AngularJS Expressions</a> <br />
	<a href="/static/angularjs/application.html" target="_blank">AngularJS Applications</a> <br />
	<a href="/static/angularjs/controller.html" target="_blank">AngularJS Controllers</a> <br />
	<a href="/static/angularjs/filter.html" target="_blank">AngularJS Filters</a> <br />
	<a href="/static/angularjs/http.html" target="_blank">AngularJS $http</a> <br />
</div>
</body>
</html>