<!DOCTYPE HTML>
<html>
<body>

<h2>基础知识</h2>
<div>
	<a href="/static/angularjs/hello.html" target="_blank">hello world</a> <br />
	<a href="/static/angularjs/directive.html" target="_blank">AngularJS Directives</a> <br />
	<a href="/static/angularjs/expression.html" target="_blank">AngularJS Expressions</a> <br />
	<a href="/static/angularjs/application.html" target="_blank">AngularJS Applications</a> <br />
	<a href="/static/angularjs/controller.html" target="_blank">AngularJS Controllers</a> <br />
	<a href="/static/angularjs/filter.html" target="_blank">AngularJS Filters</a> <br />
	<a href="/static/angularjs/http.html" target="_blank">AngularJS $http</a> <br />
</div>
<h2>应用实例</h2>
<div>
	<ul>
		<li><a href="/static/angularjs/blot_network.html">Bolt Network(入门)</a></li>
		<li><a href="/static/angularjs/pizza_plant.html">PizzaPlant(入门)</a></li>
		<li><a href="/static/angularjs/move_log.html">Move Log(入门)</a></li>

		<li></li>
	</ul>


</div>
<p>应用实例来自
	<a href="https://www.codecademy.com">CodeCademy</a>
</p>
</body>
</html>